*{
    margin: 0%;
    padding: 0%;
}
.header-1{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 25%;
    margin: 20px;
}
.header-1 img{
    margin: 10px;
    width: 150px;
    height: 150px;
}
.header-1 h1{
    font-size: 40px;
    text-shadow: 0px -1px 5px black;
}
.nav_List{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;

}
.nav_List li{
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid black;
}
.search-border li{
    border: none;
    margin: 0%;
    padding: 0%;
}
.search{
    border-bottom: 2px solid black;
}
.search input{
    font-size: 18px;
    padding: 9px 16px;
    background: transparent;
    outline: 0px;
    border: 0px;
}
.search i{
    font-size: 24px;
}
.header-0{
    margin: 20px;
    box-shadow: 0px 0px 5px 1px black;
}
.body-image{
    height: 500px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-image img{
width: 1500px;
height:100%;
}
.table{
    margin-left: 25%;
    background-color: rgb(211, 211, 211);

}
th{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px 1px;
    

}
 th img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
th p{
    color: white;
    font-size: 22px;
}
#color-1{
    background-color: rgb(126, 207, 126);
}
#color-2{
    background-color: rgb(0, 94, 39);
}
#color-3{
    background-color: rgb(0, 255, 0);
}
#color-4{
    background-color: rgb(4, 133, 0);
}
#td-color{
    background-color: rgb(102, 180, 102);
    font-size: 18px;
}
td img{
 width: 160px;
 height: 130px;
 border-radius: 50%;
}
td p{
    font-size: 18px;
}
#data{
color:rgb(5, 161, 5);
}
#date{
    color: black;
}